<div class="card" style="width: 20rem;">
    <div class="card-body">
        <div class="card-title"></div>

        <form [formGroup]="form" (ngSubmit)="authenticate()" novalidate>
            <div class="form-group">
                <input type="email" class="form-control" placeholder="E-mail" formControlName="email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Senha" formControlName="password">
            </div>
            <button type="submit" class="btn btn-primary btn-sm btn-block" [disabled]="!form.valid">Entrar</button>
        </form>
        <div class="card-body" *ngIf="userNotFound === true">
            <hr />
            <p class="small text-danger text-center">
                O nome de usuário inserido não pertence a uma conta. Verifique seu nome de usuário e tente novamente.
            </p>
        </div>

    </div>
</div>
<br />
<div class="card" style="width: 20rem;">
    <div class="card-body">
        <p class="card-text">
            Não tem uma conta? <a href="#" (click)="showRegisterPanel()" class="card-link">Cadastre-se</a>
        </p>
    </div>
</div>